/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {background-image: url('../img/sfondo.png');
	background-position: center center;
	font-family: 'Poppins', sans-serif;
	background-attachment: fixed;
	font-size: 62.5%;
}

/* HEADER */
header{
	background: linear-gradient(0deg, rgba(53,53,53,1) 0%, rgba(5,85,103,1) 68%);
	
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5);}

.container-head{
	width: 90%;
	margin: 0 auto;
	padding-bottom: 10px;
	margin-bottom: 10px;	
}

header nav, header p, .logo{
	text-align: center;
	margin: 0 auto;
	color: aliceblue;
	font-weight: 500;
}
.logo img{
	width: 100%;
	margin-top: 20px;
	margin-bottom:20px;
}


nav ul{
	list-style-type: none;
	padding-inline-start: 0%;
}
nav ul:last-child {
	margin-top: 20px;
}
nav a{
	text-decoration: none;
	color: aliceblue;
	font-weight: 500;
}
nav a:hover{
	color: red;
}
nav a::before{
	content: "⇒ ";
}
nav a::after{
	content: " ⇐";
}

/* MAIN */
main{
	background-color:#FFFFFF;
	padding: 8px 15px;
	box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.5)
}

/* ELEMENTI NEL MAIN - ARTICLE */

main h1{
	font-weight: 600;
}
main article p:first-of-type
{
	color:gray
}
main a{
	color:#0099BB
}
main b{
	color: #AC2D74;
}
iframe{
	width: 100%;
	border-radius: 30px;
}
/* TABELLE */
table {  
    text-indent: initial;
    border-spacing: 0px;
	text-align: center;
	border-bottom: 2px solid #4F6BB3;
	margin: 0 auto;
	width: 90%;
}
table tr:nth-child(even) {background-color: lightgrey;
border: 1px solid black;
}

table caption{
	font-weight: 600;
	font-style: italic;
}
table thead tr th{
	background-color: #4F6BB3;
	color:white;
	text-align: center;
	font-weight: normal;
}
table tr {
	height: 50px;
}

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
